1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ab" type="xs:NCName"/>

  
  
  
  
  
  <xs:element name="abc" type="xs:NCName"/>
  
  
  
  
  
  
  <xs:element name="abd" type="xs:NCName"/>
</xs:schema>
