2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="abehhhhhhh" type="xs:NCName"/>

  
  
  
  
  
  <xs:element name="abcwwwwwwww" type="xs:NCName"/>
  
  
  
  
  
  
  <xs:element name="abwwwwwwwwww" type="xs:NCName"/>
</xs:schema>
