xml.mherman.org-210108-0142.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="h" type="xs:NCName"/>
  <xs:element name="i" type="xs:NCBame"/>
  <xs:element name="j" type="xs:NCCame"/>
  <xs:element name="k" type="xs:NCDame"/>
  <xs:element name="e" type="xs:NCEame"/>
</xs:schema>
